/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$red_txt_color: rgb(229,19,47);

$grey_txt_color: rgb(53,51,48);

$grey_lines_color: rgb(54,47,39);

$grey_bg_color: rgb(53,51,48);

$grey_thumb_bg_color: rgb(238,238,238);

/* MOBILE */
$article_margin_left_content: 30px;
$article_padding_top: 100px;
$article_padding_x: 30px;

/* DESKTOP */
$document_width: 1264px; /* contains popovers/overlays */
$page_width: 1000px;
$header_margin_bottom: 50px;
$header_height: 60px;
$header_padding_y: 20px;
$header_font_size: 9px; /* address */
$gutter_left: 132px;
$overlay_width: 1132px;
$overlay_padding_top: 45px;
$overlay_padding_left: 132px;
$overlay_left_column: 300px;
$overlay_sub_size: 24px;
$overlay_p_size: 14px;

$menu_width: 220px;
$menu_font_size: 24px;
$menu_padding_x: 30px;
$menu_item_height: 30px;
$twitter_font_size: 12px;

$article_margin_left_content: 280px;
$article_margin_left: 30px;

$article_width: 750px;
$article_padding_top: 100px;
$article_padding_x: 30px;
$article_heading_padding_top: 35px;
$article_heading_padding_bottom: 35px;
$article_sub_padding_bottom: 25px;
$article_h2_padding_top: 15px;
$article_h2_size: 14px; /* bold */
$article_p_size: 12px;
$article_min_height: 650px;

/* chrome */
body
{
  font-family: Georgia;
  color: $grey_txt_color;
}
.navbar address
{
  font-size: $header_font_size;
  color: #FFFFFF;
  line-height: 12px;
  text-align: right;
  padding-top: 10px;
}
.navbar a,
.navbar a:hover,
.navbar a:active
{
  color: #FFFFFF;
  text-decoration: underline;
}
.navbar a:hover,
.navbar a:active
{
	text-decoration: line-through;
}

a:hover,
a:focus {
  color: $red_txt_color;
}

.navbar-inverse .navbar-inner
{
  background-image: none;
  background-color: $grey_bg_color;
  padding: $header_padding_y 0;
  margin-bottom: 0;
  /* margin-bottom: $header_margin_bottom; */
}
.navbar .btn-navbar
{
  background-image: none;
  background-color: $grey_bg_color;

  border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
  border: 1px solid #FFFFFF;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-image: none;
  background-color: $grey_bg_color;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-image: none;
  background-color: $grey_bg_color;
}
.navbar .brand
{
  padding: 0;
}
.sidebar-nav
{
  padding: 9px 0;
}
.page-unit
{
  min-height: 200px; /* default, dynamically changes based on viewport height */
  .inner-container
  {
    padding-bottom: 50px;
    border-bottom: 1px solid $grey_lines_color;
  }
  margin-bottom: 50px;
}
h1
{
  font-family: Helvetica;
  color: $red_txt_color;
  font-size: 30pt; /* should be 30px */
	line-height: 36pt; /* should be 36px */
  font-weight: bold;
}
p
{
  font-size: 14pt; /* should be 14px */
	line-height: 16pt; /* should be 16px */
}
p small
{
  font-size: 14pt; /* should be 14px */
}
article .clients ul li,
article .awards ul li
{
  font-size: 12pt; /* should be 12px */
	line-height: 18pt; /* should be 18px */
}
article address
{
  font-size: 14pt; /* should be 14px */
}

/* TB reset/overrides */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.nav-list > a:visited,
.nav-list > a.visited,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: $red_txt_color;
  text-decoration: line-through;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus
{
  text-shadow: none;
  background-color: transparent;
}
/* /TB reset/overrides */

/* RESPONSIVE */
/* Large desktop */
@media (min-width: 1200px)
{

}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  .navbar .brand
  {
    margin-left: -10px;
  }

}

@media (min-width: 980px) {
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 940px;
	}
	.span12 {
		width: 940px;
	}
	.span11 {
		width: 860px;
	}
	.span10 {
		width: 780px;
	}
	.span9 {
		width: 700px;
	}
	.span8 {
		width: 620px;
	}
	.span7 {
		width: 540px;
	}
	.span6 {
		width: 460px;
	}
	.span5 {
		width: 380px;
	}
	.span4 {
		width: 300px;
	}
	.span3 {
		width: 220px;
	}
	.span2 {
		width: 140px;
	}
	.span1 {
		width: 60px;
	}
	.offset12 {
		margin-left: 980px;
	}
	.offset11 {
		margin-left: 900px;
	}
	.offset10 {
		margin-left: 820px;
	}
	.offset9 {
		margin-left: 740px;
	}
	.offset8 {
		margin-left: 660px;
	}
	.offset7 {
		margin-left: 580px;
	}
	.offset6 {
		margin-left: 500px;
	}
	.offset5 {
		margin-left: 420px;
	}
	.offset4 {
		margin-left: 340px;
	}
	.offset3 {
		margin-left: 260px;
	}
	.offset2 {
		margin-left: 180px;
	}
	.offset1 {
		margin-left: 100px;
	}
	.row
	{
		margin-left: -20px;
	}
	[class*="span"]
	{
		margin-left: 20px;
	}
}

@media (min-width: 768px)
{
	.sidebar-nav
	{
		.twitter
		{
			margin-top: 50px;
			li
			{
				opacity: 0.5;
				margin-top: 25px;
				font-size: 16px;
				font-style: italic;

				&:hover
				{
					opacity: 1;
				}
				span.time
				{
					display: block;
				}
			}
		}
	}
  .navbar .btn-navbar
  {
    display: none;
  }
  body {
    padding-top: 0px;
  }
	h1
	{
		padding: 36px 0;
	}
  .navbar-fixed-top
  {
    position: fixed;
  }
	.nav-list > li > a
	{
		font-size: 28pt; /* should be not defined */
		line-height: 30pt;  /* should be not defined */
	}
	.nav-list > li > a:hover,
	.nav-list > li > a:active
	{
		text-decoration: line-through;
	}
  .page-unit,
	.container .sidebar-nav
	{
	  padding-top: $header_height + $header_margin_bottom;
	}
	.page-unit .section
	{
		padding-left: 280px;
	}
}
@media (min-width: 768px) and (max-width: 979px)
{
  .navbar .container
  {
    width: 724px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .sidebar-nav
  {
    display: none;
  }
  .btn-navbar
  {
    display: block;
  }
  .page-unit
  {
    padding-left: $article_padding_x;
    padding-right: $article_padding_x;
  }
  .navbar .btn-navbar
  {
    margin-right: $article_padding_x;
  }
  .navbar .brand
  {
    margin-left: $article_padding_x + 20px;
  }
  .page-content
  {
    h1
    {
      font-size: 17pt; /*, should be 36px, was 52px */
			line-height: 17pt; /* should be 36px */
      padding-top: 30px; /* was 50px */
      padding-bottom: 30px; /* was 65px */
    }
    p, address
    {
      font-size: 12pt; /* should be 28px, as 36px */
			line-height: 14.4pt; /* should be 30px */
      paddng-bottom: 50px;
    }
    li
    {
      font-size: 8pt; /*should be 18px,  was 24px */
			line-height: 9.6pt; /* should be 22px */
    }
    .page-unit
    {
      padding: 0 30px;
    }
  }

  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a
  {
    font-size: 17pt; /*should be 36px,  52px from PSD was too big, according to feeback from Sandra; Jul 29 */
    font-weight: normal;
    color: $red_txt_color;
    line-height: 28.5pt; /* should be 42px */
    padding: 15px $article_padding_x; /*(15px used to be 20)*/
  }
  .nav-collapse .nav > li
  {
    border-bottom: 1px solid $grey_lines_color;
  }
  .nav-collapse .nav
  {
    padding-left: $article_padding_x;
    padding-right: $article_padding_x;
  }
  .nav-collapse
  {
    margin-bottom: 50px;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {  }
