/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$red_txt_color: #e7132f;
$red_bg_color: #e7132f;

$grey_txt_color: #3b3b3b;

$grey_lines_color: #3b3b3b;

$grey_bg_color: #3b3b3b;

$grey_thumb_bg_color: rgb(238,238,238);

/* MOBILE */
$article_margin_left_content: 30px;
$article_padding_top: 100px;
$article_padding_x: 30px;

/* DESKTOP */
$document_width: 1264px; /* contains popovers/overlays */
$page_width: 1000px;
$header_margin_bottom: 50px;
$header_height: 60px;
$header_padding_y: 20px;
$header_font_size: 9px; /* address */
$gutter_left: 132px;
$overlay_width: 1132px;
$overlay_padding_top: 45px;
$overlay_padding_left: 132px;
$overlay_left_column: 300px;
$overlay_sub_size: 24px;
$overlay_p_size: 14px;

$menu_width: 220px;
$menu_font_size: 24px;
$menu_padding_x: 30px;
$menu_item_height: 30px;
$twitter_font_size: 12px;

$article_margin_left_content: 280px;
$article_margin_left: 30px;

$article_width: 750px;
$article_padding_top: 100px;
$article_padding_x: 30px;
$article_heading_padding_top: 35px;
$article_heading_padding_bottom: 35px;
$article_sub_padding_bottom: 25px;
$article_h2_padding_top: 15px;
$article_h2_size: 14px; /* bold */
$article_p_size: 12px;
$article_min_height: 650px;

/* chrome */
body
{
  font-family: Georgia;
  color: $grey_txt_color;
}
.navbar .brand
{
	padding: 0;
}
.navbar address
{
  font-size: $header_font_size;
  color: #FFFFFF;
  line-height: 12px;
  text-align: right;
  padding-top: 0;
}
.navbar a,
.navbar a:hover,
.navbar a:active
{
  color: #FFFFFF;
  text-decoration: underline;
}
.navbar a:hover,
.navbar a:active
{
	text-decoration: line-through;
}
a,
a:active,
a:hover,
a:visited
{
  outline: 0;
}
a:hover,
a:focus {
  color: $red_txt_color;
}

.navbar-inverse .navbar-inner
{
  background-image: none;
  background-color: $grey_bg_color;
  padding: $header_padding_y 0;
  margin-bottom: 0;
	min-height: 10px; /* override TB */
}
.navbar .btn-navbar
{
  background-image: none;
  background-color: $grey_bg_color;

  border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
  border: 1px solid #FFFFFF;

	margin-right: 40px;
	margin-top: -6px;
	padding: 10px;
	margin-bottom: -6px;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-image: none;
  background-color: $grey_bg_color;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-image: none;
  background-color: $grey_bg_color;
}
.sidebar-nav
{
  padding: 0 0 9px 0;
}
.page-unit
{
  min-height: 200px; /* default, dynamically changes based on viewport height */
  .inner-container
  {
    padding-bottom: 100px;
		margin-bottom: 100px;
    border-bottom: 1px solid $grey_lines_color;
  }
  /* no longer used, fixing the scroller/spy
	margin-bottom: 50px;
	*/
}
h1
{
  font-family: Helvetica;
  color: $red_txt_color;
  font-size: 30px;
	line-height: 36px;
  font-weight: bold;
	letter-spacing: -1px;
}
p
{
  font-size: 14px;
	line-height: 18px;
}
p small
{
  font-size: 14px;
}
p a
{
	line-height: 21px;
}
blockguote p
{
	font-size: 24px;
	font-weight: normal;
}
article .clients ul li,
article .awards ul li
{
  font-size: 12px;
	line-height: 18px;
}
article address
{
  font-size: 14px;
}

/* TB reset/overrides */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.nav-list > a:visited,
.nav-list > a.visited,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: $red_txt_color;
  text-decoration: line-through;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus
{
  text-shadow: none;
  background-color: transparent;
}
#people_modal
{
	border-radius: 0px;
	border: none;
	box-shadow: none;

	.close
	{
		text-shadow: none;
		color: $red_txt_color;
		opacity: 1;
		font-size: 24px;
	}
	&.fade.in
	{
		top: 10%;
	}
	.modal-body
	{
		padding-left: 25px;
		padding-top: 5px;
	}
	.modal-header
	{
		border-bottom: none;
	}

	.people-left {
		float: left;
		width: 48%;
	}
	.people-right
	{
		padding-top: 105px;
		float: left;
		width: 48%;
		margin-left: 20px;
	}
	.people-vcard
	{
		background-color: #f0f1f1;
		padding: 35px 25px;
		margin-bottom: 20px;
		h3
		{
			font-size: 18px;
			line-heigh: 20px;
			color: $red_txt_color;
			margin-bottom: 15px;
		}
		p
		{
			font-size: 14px;
			line-height: 16px;
		}
	}
}
#approach_modal
{
	.modal-header
	{
		padding: 5px;
		border-bottom: none;
		.close
		{
			text-shadow: none;
			color: $red_txt_color;
			opacity: 1;
			font-size: 24px;
		}
	}
	box-shadow: none;
	border-radius: 0px;
	background-color: $red_bg_color;
	border: none;
	color: #FFF;
	&.fade.in
	{
		top: 15%;
	}
	.modal-body-wrap
	{
		padding: 30px;
		.modal-body
		{
			padding: 0;
			p
			{
				margin-bottom: 20px;
			}
		}
		background: transparent url(../../assets/fist_med.png) right 35% no-repeat;
	}
}
/* hack for contact header to make sure alignment is right with menu */
#contact h1
{
	padding-top: 0;
}

.modal-backdrop
{
	background-color: #FFF;
}

/* /TB reset/overrides */

/* RESPONSIVE */
/* Large desktop */
@media (min-width: 1200px)
{
	#people_modal
	{
		width: 1264px;
		margin-left: -634px;
		.modal-body
		{
			max-height: none;
		}
	}

	#approach_modal {
		width: 1132px;
		margin-left: -633px;
	}
	#approach_modal .modal-body-wrap
	{
		background: transparent url(../../assets/fist.png) right 35% no-repeat;
	}
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }

	.sidebar-nav
	{

	}

	#people_modal
	{
		.people-left {
			float: none;
			width: auto;
		}
		.people-right
		{
			padding-top: 0px;
			float: none;
			width: auto;
			margin-left: 0px;
		}
	}
}

@media (min-width: 980px) and (max-width: 1200px)
{
	#people_modal
	{
		width: 980px;
		margin-left: -490px;
	}
	#approach_modal
	{
		width: 990px;
		margin-left: -520px;
		.modal-body-wrap
		{
			background: transparent url(../../assets/fist_med.png) right 35% no-repeat;
		}
	}
}
@media (min-width: 980px)
{
	#people_modal
	{
		border-radius: 0px;
		border: none;

		&.fade.in
		{
			top: 10%;
		}
		.modal-body
		{
			padding-left: 25px;
			padding-top: 5px;
		}

		.modal-header
		{
			border-bottom: none;
		}

		.people-left {
			float: left;
			width: 48%;
		}
		.people-right
		{
			padding-top: 145px;
			float: left;
			width: 48%;
			margin-left: 35px;
		}
		.people-vcard
		{
			background-color: #f0f1f1;
			padding: 45px 35px;
			margin-bottom: 35px;
			h3
			{
				font-size: 18px;
				line-heigh: 20px;
				color: $red_txt_color;
				margin-bottom: 15px;
			}
			p
			{
				font-size: 14px;
				line-height: 16px;
			}
		}
	}

	#approach_modal
	{
		.modal-header
		{
			.close
			{
				margin-right: -55px;
				margin-top: -10px;
			}
		}
		.modal-body-wrap
		{
			padding-left: 130px;
			padding-top: 45px;
			padding-bottom: 45px;
			.modal-body
			{
				width: 300px;
				padding: 0;
				max-height: 85%;
			}
		}
	}

	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 1000px;
	}
	.span12 {
		width: 1000px;
	}
	.span11 {
		width: 860px;
	}
	.span10 {
		width: 780px;
	}
	.span9 {
		width: 700px;
	}
	.span8 {
		width: 620px;
	}
	.span7 {
		width: 540px;
	}
	.span6 {
		width: 460px;
	}
	.span5 {
		width: 380px;
	}
	.span4 {
		width: 300px;
	}
	.span3 {
		width: 220px;
	}
	.span2 {
		width: 140px;
	}
	.span1 {
		width: 60px;
	}
	.offset12 {
		margin-left: 980px;
	}
	.offset11 {
		margin-left: 900px;
	}
	.offset10 {
		margin-left: 820px;
	}
	.offset9 {
		margin-left: 740px;
	}
	.offset8 {
		margin-left: 660px;
	}
	.offset7 {
		margin-left: 580px;
	}
	.offset6 {
		margin-left: 500px;
	}
	.offset5 {
		margin-left: 420px;
	}
	.offset4 {
		margin-left: 340px;
	}
	.offset3 {
		margin-left: 260px;
	}
	.offset2 {
		margin-left: 180px;
	}
	.offset1 {
		margin-left: 100px;
	}
	.row
	{
		margin-left: -20px;
	}
	[class*="span"]
	{
		margin-left: 20px;
	}
	#homepage
	{
		margin-left: 30px;
		width: 750px;
	}
	#sidebar
	{
		width: 220px;
		margin-left: 0;
		.sidebar-nav
		{
			width: 220px;
		}
	}
	#main_nav
	{
		padding-left: 0;
		padding-right: 0;
	}
	#main_row
	{
		margin-left: 0;
	}
}

@media (max-width: 979px)
{
	#people_modal
	{

	}
	#approach_modal
	{
		.modal-header
		{
			.close
			{
				color: #FFF;
			}
		}
		.modal-body-wrap
		{
			background: none;
		}
	}
}

@media (min-width: 768px)
{
	.navbar .brand
	{
		margin-left: 0;
	}
	.sidebar-nav
	{
		.twitter
		{
			margin-top: 50px;
			width: 180px;
			li
			{
				opacity: 0.5;
				margin-top: 25px;
				font-size: 12px;
				line-height: 14px;
				font-style: italic;

				&:hover
				{
					opacity: 1;
				}
				span.time
				{
					display: block;
				}
			}
		}
	}
  .navbar .btn-navbar
  {
    display: none;
  }
  body {
    padding-top: 0px;
  }
	h1
	{
		padding: 36px 0;
	}
	/* hack to make contact padding-top correct, and scrolspy still working */
	#clients
	{
		margin-bottom: 0;
	}
  .navbar-fixed-top
  {
    position: fixed;
  }
	.nav-list
	{
		padding-right: 0; /* hack for strange behaviour when scrolling to top */
	}
	.nav-list > li > a
	{
		font-size: 24px; /* should be not defined */
		line-height: 30px;  /* should be not defined */
		padding-right: 0; /* hack for strange behaviour when scrolling to top */
	}
	.nav-list > li > a:hover,
	.nav-list > li > a:active
	{
		text-decoration: line-through;
	}
  #homepage
	{
		padding-top: 110px;
	}
	#sidebar
	{
		padding-top: $header_height + $header_margin_bottom;
	}
	.page-unit .section
	{
		padding-left: 280px;
	}
	.page-unit
	{
		/* padding-top: $header_height + 30px; */
	}
}
@media (min-width: 768px) and (max-width: 979px)
{
  .navbar .container
  {
    width: 724px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.nav-list > li > a
	{
		font-size: 16px;
		line-height: 18px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px)
{
	.navbar .brand
	{
		margin-left: 50px;
	}
	#approach_modal
	{
		.modal-header
		{
			.close
			{

			}
		}
		.modal-body-wrap
		{
			.modal-body
			{
				padding: 0;
			}
		}
	}

  .sidebar-nav
  {
    display: none;
  }
  .btn-navbar
  {
    display: block;
  }
  .page-unit
  {
    padding-left: $article_padding_x;
    padding-right: $article_padding_x;
  }
  .page-content
  {
    h1
    {
      font-size: 17pt; /*, should be 36px, was 52px */
			line-height: 17pt; /* should be 36px */
      padding-top: 30px; /* was 50px */
      padding-bottom: 30px; /* was 65px */
    }
    p, address
    {
      font-size: 12pt; /* should be 28px, as 36px */
			line-height: 14.4pt; /* should be 30px */
      paddng-bottom: 50px;
    }
    li
    {
      font-size: 8pt; /*should be 18px,  was 24px */
			line-height: 9.6pt; /* should be 22px */
    }
    .page-unit
    {
      padding-left: 30px;
			padding-right: 30px;
    }
  }

  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a
  {
    font-size: 17pt; /*should be 36px,  52px from PSD was too big, according to feeback from Sandra; Jul 29 */
    font-weight: normal;
    color: $red_txt_color;
    line-height: 28.5pt; /* should be 42px */
    padding: 15px $article_padding_x; /*(15px used to be 20)*/
  }
  .nav-collapse .nav > li
  {
    border-bottom: 1px solid $grey_lines_color;
  }
  .nav-collapse .nav
  {
    padding-left: $article_padding_x;
    padding-right: $article_padding_x;
  }
  .nav-collapse
  {
    margin-bottom: 50px;
  }

}

@media (min-width: 481px)
{

	#people_modal
	{
		.people-vcard
		{
			&.barb
			{
				padding-left: 230px;
				background: #f0f1f1 url("../../assets/moreira.png") bottom left no-repeat;
			}
			&.sandra
			{
				padding-left: 230px;
				background: #f0f1f1 url("../../assets/fong.png") bottom left no-repeat;
			}
			&.cecil
			{
				padding-right: 230px;
				background: #f0f1f1 url("../../assets/balfour.png") bottom right no-repeat;
			}
			&.coronado
			{
				padding-left: 230px;
				background: #f0f1f1 url("../../assets/diaz.png") bottom left no-repeat;
			}
			&.everett
			{
				padding-right: 230px;
				background: #f0f1f1 url("../../assets/ranni.png") bottom right no-repeat;
			}
		}
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {  }
