/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* MOBILE */
/* DESKTOP */
/* contains popovers/overlays */
/* address */
/* bold */
/* chrome */
/* line 61, ../sass/screen.scss */
body {
  font-family: Georgia;
  color: #4b4b4b;
}

/* line 66, ../sass/screen.scss */
.navbar .brand {
  padding: 0;
}

/* line 70, ../sass/screen.scss */
.navbar address {
  font-size: 11px;
  color: #FFFFFF;
  line-height: 13px;
  text-align: right;
  padding-top: 0;
}

/* line 80, ../sass/screen.scss */
.navbar a,
.navbar a:hover,
.navbar a:active {
  color: #FFFFFF;
  text-decoration: underline;
}

/* line 86, ../sass/screen.scss */
.navbar a:hover,
.navbar a:active {
  text-decoration: line-through;
}

/* line 93, ../sass/screen.scss */
a,
a:active,
a:hover,
a:visited {
  outline: 0;
}

/* line 97, ../sass/screen.scss */
a:hover,
a:focus {
  color: #e7132f;
}

/* line 102, ../sass/screen.scss */
.navbar-inverse .navbar-inner {
  background-image: none;
  background-color: #4b4b4b;
  padding: 20px 0;
  margin-bottom: 0;
  min-height: 10px;
  /* override TB */
}

/* line 110, ../sass/screen.scss */
.navbar .btn-navbar {
  background-image: none;
  background-color: #4b4b4b;
  border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
  border: 1px solid #FFFFFF;
  margin-right: 35px;
  margin-top: -6px;
  padding: 10px;
  margin-bottom: -6px;
}

/* line 127, ../sass/screen.scss */
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-image: none;
  background-color: #4b4b4b;
}

/* line 133, ../sass/screen.scss */
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-image: none;
  background-color: #4b4b4b;
}

/* line 138, ../sass/screen.scss */
.sidebar-nav {
  padding: 0 0 9px 0;
}

/* line 142, ../sass/screen.scss */
.page-unit {
  min-height: 200px;
  /* default, dynamically changes based on viewport height */
  /* no longer used, fixing the scroller/spy
	margin-bottom: 50px;
	*/
}
/* line 145, ../sass/screen.scss */
.page-unit .inner-container {
  padding-bottom: 80px;
  margin-bottom: 50px;
  border-bottom: 1px solid #4b4b4b;
}
/* line 156, ../sass/screen.scss */
.page-unit ul li {
  font-size: 12px;
  line-height: 16px;
}

/* line 163, ../sass/screen.scss */
h1 {
  font-family: Helvetica;
  color: #e7132f;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: -1px;
}

/* line 172, ../sass/screen.scss */
h2 {
  font-weight: bold;
  font-size: 14px;
  font-family: "Helvetica";
  margin-top: 40px;
  margin-bottom: 4px;
}

/* line 180, ../sass/screen.scss */
p {
  font-size: 14px;
  line-height: 20px;
}

/* line 185, ../sass/screen.scss */
p small {
  font-size: 14px;
}

/* line 189, ../sass/screen.scss */
p a {
  line-height: 24px;
}

/* line 193, ../sass/screen.scss */
blockguote p {
  font-size: 24px;
  font-weight: normal;
}

/* line 199, ../sass/screen.scss */
article .clients ul li,
article .awards ul li {
  font-size: 12px;
  line-height: 18px;
}

/* line 204, ../sass/screen.scss */
.page-unit address {
  font-size: 14px;
  line-height: 20px;
}

/* TB reset/overrides */
/* line 211, ../sass/screen.scss */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

/* line 219, ../sass/screen.scss */
.nav-list > a:visited,
.nav-list > a.visited,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #e7132f;
  text-decoration: line-through;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

/* line 228, ../sass/screen.scss */
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  text-shadow: none;
  background-color: transparent;
}

/* line 233, ../sass/screen.scss */
#people_modal {
  position: absolute;
  border-radius: 0px;
  border: none;
  box-shadow: none;
}
/* line 240, ../sass/screen.scss */
#people_modal .close {
  text-shadow: none;
  color: #e7132f;
  opacity: 1;
  font-size: 24px;
}
/* line 247, ../sass/screen.scss */
#people_modal.fade.in {
  top: 0;
}
/* line 251, ../sass/screen.scss */
#people_modal .modal-body {
  padding-left: 25px;
  padding-top: 5px;
  max-height: 1000px;
}
/* line 257, ../sass/screen.scss */
#people_modal .modal-header {
  border-bottom: none;
}
/* line 261, ../sass/screen.scss */
#people_modal .people-left {
  float: left;
  width: 48%;
}
/* line 266, ../sass/screen.scss */
#people_modal .people-right {
  padding-top: 105px;
  float: left;
  width: 48%;
  margin-left: 20px;
}
/* line 273, ../sass/screen.scss */
#people_modal .people-vcard {
  background-color: #f0f1f1;
  padding: 35px 25px;
  margin-bottom: 20px;
}
/* line 278, ../sass/screen.scss */
#people_modal .people-vcard h3 {
  font-size: 18px;
  line-heigh: 20px;
  color: #e7132f;
  margin-bottom: 15px;
}
/* line 285, ../sass/screen.scss */
#people_modal .people-vcard p {
  font-size: 14px;
  line-height: 16px;
}

/* line 292, ../sass/screen.scss */
#approach_modal {
  position: absolute;
  box-shadow: none;
  border-radius: 0px;
  background-color: #e7132f;
  border: none;
  color: #FFF;
}
/* line 295, ../sass/screen.scss */
#approach_modal .modal-header {
  padding: 5px;
  border-bottom: none;
}
/* line 299, ../sass/screen.scss */
#approach_modal .modal-header .close {
  text-shadow: none;
  color: #e7132f;
  opacity: 1;
  font-size: 24px;
}
/* line 312, ../sass/screen.scss */
#approach_modal.fade.in {
  top: 0;
}
/* line 316, ../sass/screen.scss */
#approach_modal .modal-body-wrap {
  padding: 30px;
  background: transparent url(../../assets/fist_med.png) right 35% no-repeat;
}
/* line 319, ../sass/screen.scss */
#approach_modal .modal-body-wrap .modal-body {
  max-height: 1000px;
  padding: 0;
}
/* line 324, ../sass/screen.scss */
#approach_modal .modal-body-wrap .modal-body p {
  margin-bottom: 20px;
}

/* line 333, ../sass/screen.scss */
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* hack for contact header to make sure alignment is right with menu */
/* line 339, ../sass/screen.scss */
#contact h1 {
  padding-top: 0;
}

/* line 344, ../sass/screen.scss */
.modal-backdrop {
  background-color: #FFF;
}

/* /TB reset/overrides */
/* RESPONSIVE */
/* Large desktop */
@media (min-width: 1200px) {
  /* line 355, ../sass/screen.scss */
  #people_modal {
    width: 1264px;
    margin-left: -634px;
  }

  /* line 360, ../sass/screen.scss */
  #approach_modal {
    width: 1132px;
    margin-left: -633px;
  }

  /* line 365, ../sass/screen.scss */
  #approach_modal .modal-body-wrap {
    background: transparent url(../../assets/fist.png) right 35% no-repeat;
  }
}
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  /* line 372, ../sass/screen.scss */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }

  /* line 385, ../sass/screen.scss */
  #people_modal .people-left {
    float: none;
    width: auto;
  }
  /* line 390, ../sass/screen.scss */
  #people_modal .people-right {
    padding-top: 0px;
    float: none;
    width: auto;
    margin-left: 0px;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  /* line 402, ../sass/screen.scss */
  #people_modal {
    width: 980px;
    margin-left: -490px;
  }

  /* line 407, ../sass/screen.scss */
  #approach_modal {
    width: 990px;
    margin-left: -520px;
  }
  /* line 411, ../sass/screen.scss */
  #approach_modal .modal-body-wrap {
    background: transparent url(../../assets/fist_med.png) right 35% no-repeat;
  }
}
@media (min-width: 980px) {
  /* line 419, ../sass/screen.scss */
  #people_modal {
    border-radius: 0px;
    border: none;
  }
  /* line 423, ../sass/screen.scss */
  #people_modal .modal-body {
    padding-left: 25px;
    padding-top: 5px;
  }
  /* line 429, ../sass/screen.scss */
  #people_modal .modal-header {
    border-bottom: none;
  }
  /* line 433, ../sass/screen.scss */
  #people_modal .people-left {
    float: left;
    width: 48%;
  }
  /* line 438, ../sass/screen.scss */
  #people_modal .people-right {
    padding-top: 145px;
    float: left;
    width: 48%;
    margin-left: 35px;
  }
  /* line 445, ../sass/screen.scss */
  #people_modal .people-vcard {
    background-color: #f0f1f1;
    padding: 45px 35px;
    margin-bottom: 35px;
  }
  /* line 450, ../sass/screen.scss */
  #people_modal .people-vcard h3 {
    font-size: 18px;
    line-heigh: 20px;
    color: #e7132f;
    margin-bottom: 15px;
  }
  /* line 457, ../sass/screen.scss */
  #people_modal .people-vcard p {
    font-size: 14px;
    line-height: 16px;
  }

  /* line 469, ../sass/screen.scss */
  #approach_modal .modal-header .close {
    margin-right: -45px;
    margin-top: -10px;
  }
  /* line 475, ../sass/screen.scss */
  #approach_modal .modal-body-wrap {
    padding-left: 130px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  /* line 480, ../sass/screen.scss */
  #approach_modal .modal-body-wrap .modal-body {
    width: 300px;
    padding: 0;
  }

  /* line 490, ../sass/screen.scss */
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1000px;
  }

  /* line 493, ../sass/screen.scss */
  .span12 {
    width: 1000px;
  }

  /* line 496, ../sass/screen.scss */
  .span11 {
    width: 860px;
  }

  /* line 499, ../sass/screen.scss */
  .span10 {
    width: 780px;
  }

  /* line 502, ../sass/screen.scss */
  .span9 {
    width: 700px;
  }

  /* line 505, ../sass/screen.scss */
  .span8 {
    width: 620px;
  }

  /* line 508, ../sass/screen.scss */
  .span7 {
    width: 540px;
  }

  /* line 511, ../sass/screen.scss */
  .span6 {
    width: 460px;
  }

  /* line 514, ../sass/screen.scss */
  .span5 {
    width: 380px;
  }

  /* line 517, ../sass/screen.scss */
  .span4 {
    width: 300px;
  }

  /* line 520, ../sass/screen.scss */
  .span3 {
    width: 220px;
  }

  /* line 523, ../sass/screen.scss */
  .span2 {
    width: 140px;
  }

  /* line 526, ../sass/screen.scss */
  .span1 {
    width: 60px;
  }

  /* line 529, ../sass/screen.scss */
  .offset12 {
    margin-left: 980px;
  }

  /* line 532, ../sass/screen.scss */
  .offset11 {
    margin-left: 900px;
  }

  /* line 535, ../sass/screen.scss */
  .offset10 {
    margin-left: 820px;
  }

  /* line 538, ../sass/screen.scss */
  .offset9 {
    margin-left: 740px;
  }

  /* line 541, ../sass/screen.scss */
  .offset8 {
    margin-left: 660px;
  }

  /* line 544, ../sass/screen.scss */
  .offset7 {
    margin-left: 580px;
  }

  /* line 547, ../sass/screen.scss */
  .offset6 {
    margin-left: 500px;
  }

  /* line 550, ../sass/screen.scss */
  .offset5 {
    margin-left: 420px;
  }

  /* line 553, ../sass/screen.scss */
  .offset4 {
    margin-left: 340px;
  }

  /* line 556, ../sass/screen.scss */
  .offset3 {
    margin-left: 260px;
  }

  /* line 559, ../sass/screen.scss */
  .offset2 {
    margin-left: 180px;
  }

  /* line 562, ../sass/screen.scss */
  .offset1 {
    margin-left: 100px;
  }

  /* line 566, ../sass/screen.scss */
  .row {
    margin-left: -20px;
  }

  /* line 570, ../sass/screen.scss */
  [class*="span"] {
    margin-left: 20px;
  }

  /* line 574, ../sass/screen.scss */
  #homepage {
    margin-left: 30px;
    width: 750px;
  }

  /* line 579, ../sass/screen.scss */
  #sidebar {
    width: 220px;
    margin-left: 0;
  }
  /* line 583, ../sass/screen.scss */
  #sidebar .sidebar-nav {
    width: 220px;
  }

  /* line 588, ../sass/screen.scss */
  #main_nav {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 593, ../sass/screen.scss */
  #main_row {
    margin-left: 0;
  }
}
@media (max-width: 979px) {
  /* line 609, ../sass/screen.scss */
  #approach_modal .modal-header .close {
    color: #FFF;
  }
  /* line 614, ../sass/screen.scss */
  #approach_modal .modal-body-wrap {
    background: none;
  }
}
@media (min-width: 768px) {
  /* line 623, ../sass/screen.scss */
  .navbar .brand {
    margin-left: 0;
  }

  /* line 629, ../sass/screen.scss */
  .sidebar-nav .twitter {
    margin-top: 50px;
    width: 180px;
  }
  /* line 633, ../sass/screen.scss */
  .sidebar-nav .twitter li {
    opacity: 0.5;
    margin-top: 25px;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
  }
  /* line 641, ../sass/screen.scss */
  .sidebar-nav .twitter li:hover {
    opacity: 1;
  }
  /* line 645, ../sass/screen.scss */
  .sidebar-nav .twitter li span.time {
    display: block;
  }

  /* line 652, ../sass/screen.scss */
  .navbar .btn-navbar {
    display: none;
  }

  /* line 655, ../sass/screen.scss */
  body {
    padding-top: 0px;
  }

  /* line 659, ../sass/screen.scss */
  h1 {
    padding: 30px 0;
  }

  /* hack to make contact padding-top correct, and scrolspy still working */
  /* line 664, ../sass/screen.scss */
  #clients {
    margin-bottom: 0;
  }

  /* hack to align the contact header with left menu for desktop and really big screens */
  /* line 669, ../sass/screen.scss */
  #contact {
    padding-bottom: 700px;
  }

  /* line 673, ../sass/screen.scss */
  .navbar-fixed-top {
    position: fixed;
  }

  /* line 677, ../sass/screen.scss */
  .nav-list {
    padding-right: 0;
    /* hack for strange behaviour when scrolling to top */
  }

  /* line 681, ../sass/screen.scss */
  .nav-list > li > a {
    font-size: 24px;
    /* should be not defined */
    line-height: 24px;
    /* should be not defined */
    padding-right: 0;
    /* hack for strange behaviour when scrolling to top */
  }

  /* line 688, ../sass/screen.scss */
  .nav-list > li > a:hover,
  .nav-list > li > a:active {
    text-decoration: line-through;
  }

  /* line 692, ../sass/screen.scss */
  #homepage {
    padding-top: 110px;
  }

  /* line 696, ../sass/screen.scss */
  #sidebar {
    padding-top: 110px;
  }

  /* line 700, ../sass/screen.scss */
  .page-unit .section {
    padding-left: 250px;
    padding-right: 10px;
  }

  /* line 705, ../sass/screen.scss */
  .page-unit {
    /* padding-top: $header_height + 30px; */
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 712, ../sass/screen.scss */
  .navbar .container {
    width: 724px;
  }

  /* line 716, ../sass/screen.scss */
  .nav-list > li > a {
    font-size: 16px;
    line-height: 18px;
  }

  /* line 721, ../sass/screen.scss */
  .nav-list {
    padding-left: 0;
  }

  /* line 725, ../sass/screen.scss */
  .page-unit .section {
    padding-left: 250px;
    padding-right: 10px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* because the navbar transition is a problem on small screens, when scrolling and hiding at the same time  */
  /* line 737, ../sass/screen.scss */
  .no-transition {
    -webkit-transition: height 0.001s;
    -moz-transition: height 0.001s;
    -ms-transition: height 0.001s;
    -o-transition: height 0.001s;
    transition: height 0.001s;
  }

  /* line 745, ../sass/screen.scss */
  .navbar .brand {
    margin-left: 50px;
  }

  /* line 750, ../sass/screen.scss */
  #main_row {
    padding-top: 60px;
  }

  /* line 754, ../sass/screen.scss */
  .navbar-fixed-top {
    position: fixed;
  }

  /* line 758, ../sass/screen.scss */
  #people_modal {
    left: 0;
    right: 0;
  }
  /* line 760, ../sass/screen.scss */
  #people_modal.fade.in {
    top: 0;
  }

  /* line 768, ../sass/screen.scss */
  #approach_modal {
    top: 0;
  }
  /* line 780, ../sass/screen.scss */
  #approach_modal .modal-body-wrap .modal-body {
    padding: 0;
  }

  /* line 787, ../sass/screen.scss */
  .sidebar-nav {
    display: none;
  }

  /* line 791, ../sass/screen.scss */
  .btn-navbar {
    display: block;
  }

  /* line 795, ../sass/screen.scss */
  .page-unit {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 802, ../sass/screen.scss */
  .page-content h1 {
    font-size: 17pt;
    /*, should be 36px, was 52px */
    line-height: 17pt;
    /* should be 36px */
    padding-top: 30px;
    /* was 50px */
    padding-bottom: 30px;
    /* was 65px */
  }
  /* line 810, ../sass/screen.scss */
  .page-content p,
  .page-content address {
    font-size: 12pt;
    /* should be 28px, as 36px */
    line-height: 14.4pt;
    /* should be 30px */
  }
  /* line 815, ../sass/screen.scss */
  .page-content li {
    font-size: 8pt;
    /*should be 18px,  was 24px */
    line-height: 9.6pt;
    /* should be 22px */
  }
  /* line 820, ../sass/screen.scss */
  .page-content .page-unit {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 828, ../sass/screen.scss */
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    font-size: 52px;
    font-weight: normal;
    color: #e7132f;
    line-height: 90px;
    padding: 15px 30px;
    /*(15px used to be 20)*/
    margin-bottom: 0;
  }
  /* line 836, ../sass/screen.scss */
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background: none;
  }

  /* line 841, ../sass/screen.scss */
  .nav-collapse .nav > li {
    border-bottom: 1px solid #4b4b4b;
  }

  /* line 845, ../sass/screen.scss */
  .nav-collapse .nav {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 850, ../sass/screen.scss */
  .nav-collapse {
    margin-bottom: 50px;
    margin-top: 20px;
  }
}
@media (min-width: 481px) {
  /* line 864, ../sass/screen.scss */
  #people_modal .people-vcard.barb {
    padding-left: 230px;
    background: #f0f1f1 url("../../assets/images/people/Staff-Barb.png") bottom left no-repeat;
  }
  /* line 869, ../sass/screen.scss */
  #people_modal .people-vcard.sandra {
    padding-left: 230px;
    background: #f0f1f1 url("../../assets/images/people/Staff-Sandra.png") bottom left no-repeat;
  }
  /* line 874, ../sass/screen.scss */
  #people_modal .people-vcard.cecil {
    padding-right: 230px;
    background: #f0f1f1 url("../../assets/images/people/Staff-Cecilie.png") bottom right no-repeat;
  }
  /* line 879, ../sass/screen.scss */
  #people_modal .people-vcard.coronado {
    padding-left: 230px;
    background: #f0f1f1 url("../../assets/images/people/Staff-Coromoto.png") bottom left no-repeat;
  }
  /* line 884, ../sass/screen.scss */
  #people_modal .people-vcard.everett {
    padding-right: 230px;
    background: #f0f1f1 url("../../assets/images/people/Staff-Everett.png") bottom right no-repeat;
  }
}
/* Landscape phones and down */
