/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* MOBILE */
/* DESKTOP */
/* contains popovers/overlays */
/* address */
/* bold */
/* chrome */
/* line 60, ../sass/screen.scss */
body {
  font-family: Georgia;
  color: #353330;
}

/* line 65, ../sass/screen.scss */
.navbar address {
  font-size: 9px;
  color: #FFFFFF;
  line-height: 12px;
  text-align: right;
  padding-top: 10px;
}

/* line 75, ../sass/screen.scss */
.navbar a,
.navbar a:hover,
.navbar a:active {
  color: #FFFFFF;
  text-decoration: underline;
}

/* line 81, ../sass/screen.scss */
.navbar a:hover,
.navbar a:active {
  text-decoration: line-through;
}

/* line 86, ../sass/screen.scss */
.navbar-inverse .navbar-inner {
  background-image: none;
  background-color: #353330;
  padding: 20px 0;
  margin-bottom: 0;
  /* margin-bottom: $header_margin_bottom; */
}

/* line 94, ../sass/screen.scss */
.navbar .btn-navbar {
  background-image: none;
  background-color: #353330;
  border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
  border: 1px solid #FFFFFF;
}

/* line 106, ../sass/screen.scss */
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-image: none;
  background-color: #353330;
}

/* line 112, ../sass/screen.scss */
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-image: none;
  background-color: #353330;
}

/* line 117, ../sass/screen.scss */
.navbar .brand {
  padding: 0;
}

/* line 121, ../sass/screen.scss */
.sidebar-nav {
  padding: 9px 0;
}

/* line 125, ../sass/screen.scss */
.page-unit {
  min-height: 200px;
  /* default, dynamically changes based on viewport height */
  margin-bottom: 50px;
}
/* line 128, ../sass/screen.scss */
.page-unit .inner-container {
  padding-bottom: 50px;
  border-bottom: 1px solid #362f27;
}

/* line 135, ../sass/screen.scss */
h1 {
  font-family: Helvetica;
  color: #e5132f;
  font-size: 30pt;
  lin-height: 36pt;
  font-weight: bold;
}

/* line 143, ../sass/screen.scss */
p {
  font-size: 14pt;
  line-height: 16pt;
}

/* line 148, ../sass/screen.scss */
p small {
  font-size: 14pt;
}

/* line 153, ../sass/screen.scss */
article .clients ul li,
article .awards ul li {
  font-size: 12pt;
  line-height: 18pt;
}

/* line 158, ../sass/screen.scss */
article address {
  font-size: 14pt;
}

/* TB reset/overrides */
/* line 164, ../sass/screen.scss */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

/* line 172, ../sass/screen.scss */
.nav-list > a:visited,
.nav-list > a.visited,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #e5132f;
  text-decoration: line-through;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

/* line 181, ../sass/screen.scss */
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  text-shadow: none;
  background-color: transparent;
}

/* /TB reset/overrides */
/* RESPONSIVE */
/* Large desktop */
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  /* line 196, ../sass/screen.scss */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }

  /* line 202, ../sass/screen.scss */
  .navbar .brand {
    margin-left: -10px;
  }
}
@media (min-width: 980px) {
  /* line 212, ../sass/screen.scss */
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 940px;
  }

  /* line 215, ../sass/screen.scss */
  .span12 {
    width: 940px;
  }

  /* line 218, ../sass/screen.scss */
  .span11 {
    width: 860px;
  }

  /* line 221, ../sass/screen.scss */
  .span10 {
    width: 780px;
  }

  /* line 224, ../sass/screen.scss */
  .span9 {
    width: 700px;
  }

  /* line 227, ../sass/screen.scss */
  .span8 {
    width: 620px;
  }

  /* line 230, ../sass/screen.scss */
  .span7 {
    width: 540px;
  }

  /* line 233, ../sass/screen.scss */
  .span6 {
    width: 460px;
  }

  /* line 236, ../sass/screen.scss */
  .span5 {
    width: 380px;
  }

  /* line 239, ../sass/screen.scss */
  .span4 {
    width: 300px;
  }

  /* line 242, ../sass/screen.scss */
  .span3 {
    width: 220px;
  }

  /* line 245, ../sass/screen.scss */
  .span2 {
    width: 140px;
  }

  /* line 248, ../sass/screen.scss */
  .span1 {
    width: 60px;
  }

  /* line 251, ../sass/screen.scss */
  .offset12 {
    margin-left: 980px;
  }

  /* line 254, ../sass/screen.scss */
  .offset11 {
    margin-left: 900px;
  }

  /* line 257, ../sass/screen.scss */
  .offset10 {
    margin-left: 820px;
  }

  /* line 260, ../sass/screen.scss */
  .offset9 {
    margin-left: 740px;
  }

  /* line 263, ../sass/screen.scss */
  .offset8 {
    margin-left: 660px;
  }

  /* line 266, ../sass/screen.scss */
  .offset7 {
    margin-left: 580px;
  }

  /* line 269, ../sass/screen.scss */
  .offset6 {
    margin-left: 500px;
  }

  /* line 272, ../sass/screen.scss */
  .offset5 {
    margin-left: 420px;
  }

  /* line 275, ../sass/screen.scss */
  .offset4 {
    margin-left: 340px;
  }

  /* line 278, ../sass/screen.scss */
  .offset3 {
    margin-left: 260px;
  }

  /* line 281, ../sass/screen.scss */
  .offset2 {
    margin-left: 180px;
  }

  /* line 284, ../sass/screen.scss */
  .offset1 {
    margin-left: 100px;
  }

  /* line 288, ../sass/screen.scss */
  .row {
    margin-left: -20px;
  }

  /* line 292, ../sass/screen.scss */
  [class*="span"] {
    margin-left: 20px;
  }
}
@media (min-width: 768px) {
  /* line 300, ../sass/screen.scss */
  .navbar .btn-navbar {
    display: none;
  }

  /* line 303, ../sass/screen.scss */
  body {
    padding-top: 0px;
  }

  /* line 307, ../sass/screen.scss */
  h1 {
    padding: 36px 0;
  }

  /* line 311, ../sass/screen.scss */
  .navbar-fixed-top {
    position: fixed;
  }

  /* line 315, ../sass/screen.scss */
  .nav-list > li > a {
    font-size: 28pt;
    line-height: 30pt;
  }

  /* line 321, ../sass/screen.scss */
  .nav-list > li > a:hover,
  .nav-list > li > a:active {
    text-decoration: line-through;
  }

  /* line 326, ../sass/screen.scss */
  .page-unit,
  .container .sidebar-nav {
    padding-top: 110px;
  }

  /* line 330, ../sass/screen.scss */
  .page-unit .section {
    padding-left: 280px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 337, ../sass/screen.scss */
  .navbar .container {
    width: 724px;
  }
}
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 348, ../sass/screen.scss */
  .sidebar-nav {
    display: none;
  }

  /* line 352, ../sass/screen.scss */
  .btn-navbar {
    display: block;
  }

  /* line 356, ../sass/screen.scss */
  .page-unit {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 361, ../sass/screen.scss */
  .navbar .btn-navbar {
    margin-right: 30px;
  }

  /* line 365, ../sass/screen.scss */
  .navbar .brand {
    margin-left: 50px;
  }

  /* line 371, ../sass/screen.scss */
  .page-content h1 {
    font-size: 17pt;
    /* was 52px */
    line-height: 17pt;
    padding-top: 40px;
    /* was 50px */
    padding-bottom: 45px;
    /* was 65px */
  }
  /* line 378, ../sass/screen.scss */
  .page-content p, .page-content address {
    font-size: 12pt;
    /* as 36px */
    line-height: 14.4pt;
    paddng-bottom: 50px;
  }
  /* line 384, ../sass/screen.scss */
  .page-content li {
    font-size: 8pt;
    /* was 24px */
    line-height: 9.6pt;
  }
  /* line 389, ../sass/screen.scss */
  .page-content .page-unit {
    padding: 0 30px;
  }

  /* line 396, ../sass/screen.scss */
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    font-size: 17pt;
    /* 52px from PSD was too big, according to feeback from Sandra; Jul 29 */
    font-weight: normal;
    color: #e5132f;
    line-height: 28.5pt;
    padding: 15px 30px;
    /*(15px used to be 20)*/
  }

  /* line 404, ../sass/screen.scss */
  .nav-collapse .nav > li {
    border-bottom: 1px solid #362f27;
  }

  /* line 408, ../sass/screen.scss */
  .nav-collapse .nav {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 413, ../sass/screen.scss */
  .nav-collapse {
    margin-bottom: 50px;
  }
}
/* Landscape phones and down */
