/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* MOBILE */
/* DESKTOP */
/* contains popovers/overlays */
/* address */
/* bold */
/* chrome */
/* line 60, ../sass/screen.scss */
body {
  font-family: Georgia;
  color: #353330;
}

/* line 65, ../sass/screen.scss */
.navbar address {
  font-size: 9px;
  color: #FFFFFF;
  line-height: 12px;
  text-align: right;
  padding-top: 10px;
}

/* line 75, ../sass/screen.scss */
.navbar a,
.navbar a:hover,
.navbar a:active {
  color: #FFFFFF;
  text-decoration: underline;
}

/* line 81, ../sass/screen.scss */
.navbar-inverse .navbar-inner {
  background-image: none;
  background-color: #353330;
  padding: 20px 0;
  margin-bottom: 0;
  /* margin-bottom: $header_margin_bottom; */
}

/* line 89, ../sass/screen.scss */
.navbar .btn-navbar {
  background-image: none;
  background-color: #353330;
  border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
  border: 1px solid #FFFFFF;
}

/* line 101, ../sass/screen.scss */
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-image: none;
  background-color: #353330;
}

/* line 107, ../sass/screen.scss */
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-image: none;
  background-color: #353330;
}

/* line 112, ../sass/screen.scss */
.navbar .brand {
  padding: 0;
}

/* line 116, ../sass/screen.scss */
.sidebar-nav {
  padding: 9px 0;
}

/* line 120, ../sass/screen.scss */
.page-unit {
  min-height: 200px;
  /* default, dynamically changes based on viewport height */
  margin-bottom: 50px;
}
/* line 123, ../sass/screen.scss */
.page-unit .inner-container {
  padding-bottom: 50px;
  border-bottom: 1px solid #362f27;
}

/* line 130, ../sass/screen.scss */
h1 {
  font-family: Helvetica;
  color: #e5132f;
  font-size: 30px;
  font-weight: bold;
}

/* line 137, ../sass/screen.scss */
p {
  font-size: 14px;
}

/* line 141, ../sass/screen.scss */
p small {
  font-size: 14px;
}

/* line 146, ../sass/screen.scss */
article .clients ul li,
article .awards ul li {
  font-size: 14px;
}

/* line 150, ../sass/screen.scss */
article address {
  font-size: 24px;
}

/* TB reset/overrides */
/* line 156, ../sass/screen.scss */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

/* line 164, ../sass/screen.scss */
.nav-list > a:visited,
.nav-list > a.visited,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #e5132f;
  text-decoration: line-through;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

/* line 173, ../sass/screen.scss */
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  text-shadow: none;
  background-color: transparent;
}

/* /TB reset/overrides */
/* RESPONSIVE */
/* Large desktop */
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  /* line 188, ../sass/screen.scss */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }

  /* line 194, ../sass/screen.scss */
  .navbar .brand {
    margin-left: -10px;
  }
}
@media (min-width: 768px) {
  /* line 203, ../sass/screen.scss */
  .navbar .btn-navbar {
    display: none;
  }

  /* line 206, ../sass/screen.scss */
  body {
    padding-top: 0px;
  }

  /* line 210, ../sass/screen.scss */
  .navbar-fixed-top {
    position: fixed;
  }

  /* line 215, ../sass/screen.scss */
  .page-unit,
  .container .sidebar-nav {
    padding-top: 110px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 222, ../sass/screen.scss */
  .navbar .container {
    width: 724px;
  }
}
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 233, ../sass/screen.scss */
  .sidebar-nav {
    display: none;
  }

  /* line 237, ../sass/screen.scss */
  .btn-navbar {
    display: block;
  }

  /* line 241, ../sass/screen.scss */
  .page-unit {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 246, ../sass/screen.scss */
  .navbar .btn-navbar {
    margin-right: 30px;
  }

  /* line 250, ../sass/screen.scss */
  .navbar .brand {
    margin-left: 50px;
  }

  /* line 256, ../sass/screen.scss */
  .page-content h1 {
    font-size: 52px;
    padding-top: 50px;
    padding-bottom: 65px;
  }
  /* line 262, ../sass/screen.scss */
  .page-content p, .page-content address {
    font-size: 36px;
    paddng-bottom: 50px;
  }
  /* line 267, ../sass/screen.scss */
  .page-content li {
    font-size: 24px;
  }
  /* line 271, ../sass/screen.scss */
  .page-content .page-unit {
    padding: 0 30px;
  }

  /* line 278, ../sass/screen.scss */
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    font-size: 52px;
    font-weight: normal;
    color: #e5132f;
    line-height: 60px;
    padding: 20px 30px;
  }

  /* line 286, ../sass/screen.scss */
  .nav-collapse .nav > li {
    border-bottom: 1px solid #362f27;
  }

  /* line 290, ../sass/screen.scss */
  .nav-collapse .nav {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 295, ../sass/screen.scss */
  .nav-collapse {
    margin-bottom: 50px;
  }
}
/* Landscape phones and down */
